body{
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


a{
    text-decoration: none;
    color: black;
}

header{
    margin-top: 70px;
}

textarea{
    resize: none;
}


.nav-item a {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    margin: 3px 3px 3px 3px;
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}


.nav-item a:hover {
    color: aqua;
}

.list-group-flush{
    margin-right: 15%
}


#principal{
    background-color: aliceblue;
    border: solid #2980B9;
    border-radius: 15px;
}

.card{
    margin-top: 70px;
}


.habilidades{
    padding-top: 10%;
    border-top-style:solid ;
    border-top-color:rgb(129, 145, 212) ;
    border-top-width:2px ;
    margin-top: 70px;
}

.col-sm-12{
    font-size:smaller;
}

.col-md-7{
    font-size: 5%;
}

.col-lg-7{
    font-size: smaller;
}

.justificar{
    text-align: justify;
}

.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border-radius: 100%;
}

.card-body{
   display:none ;
}

.card-header{
    display: flex;
    flex-direction: row;
}

#lic-bio{
    font-style: italic;
}

.button{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    margin-left: 2%;
    border-style: none;
    background-color: rgba(var(--bs-info-rgb),var(--bs-bg-opacity))!important;

}



.close{
    display: none;
    width: auto;
    height: auto;
    flex-direction: row;
    margin-left: 2%;
    border-style: none;
    background-color: rgba(var(--bs-info-rgb),var(--bs-bg-opacity))!important;
}



@media only screen and (max-width: 576px) {
    #titulo1 {
        text-align: center;
    }
}